/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--page-bg-color);
}

.header {
  display: grid;
  background-image: var(--header-bg-img);
  padding: 10px;
  margin-bottom: 40px;
  background-size: cover;       /* растягивает на весь блок */
  background-position: center;  /* центрирует */
  background-repeat: no-repeat; /* не повторяет */
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  margin: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  margin: 10px;
}

.bulb {
  justify-self: end;
  margin-bottom: 39px;
}

.bulb_text {
  display: inline-block;
  position: relative;
  padding-right: 28px; /*Расстояние от текста до уголка*/
  font-family: var(--font-family-main);
  text-transform: uppercase;
  font-size: var(--font-size-text);
  line-height: 25px;
  color: var(--accent-color);
}

.bulb_text::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% - 18px);
  width: 9px;
  height: 9px;
  background: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-button {
  font-family: var(--font-family-main);;
  font-size: var(--font-size-text);
  line-height: 18px;
  color: var(--accent-color);
  background: none;
  border: none;
  text-transform: lowercase;
  margin-bottom: 10px;
  padding: 0 13px;
  height: 26px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--border-button-hower-color);
}

.header__theme-menu-button:focus {
  border: none;
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button_type_dark {
  margin-bottom: 0;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.header_title {
  font-family: var(--font-family-main);;
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--title-and-footer-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  margin-top: 68px; /*По макету должно быть 65px*/
  margin-bottom: 55px;  
}

.header_text {
  margin-bottom: calc(31px + 25px); /*31 (по макету) + 25 (размер уголка)*/
}

.title-decor {
  font-family: var(--font-family-main);;
  font-weight: bold;
  font-size: var(--font-size-text);
  line-height: 23.4px;
  color: #000028;
  background-color: var(--accent-color);
}

.main {
  display: grid;
  gap: 50px;
  margin-bottom: 40px;
}

.section {
  display: grid;
  gap: 20px;
  padding: 0 10px;
}

.section-title {
  font-family: var(--font-family-main);
  font-weight: bold;
  font-size: var(--font-size-text);
  line-height: 23.4px;
  color: var(--accent-color);
}

.article-title {
  margin-bottom: 10px;
}

.article-text {
  font-family: var(--font-family-main);
  font-size: var(--font-size-text);
  line-height: 23.4px;
  color: var(--text-color);
}

.section-link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.section-link:hover {
  text-decoration: underline;
  text-decoration-color: currentColor;
}

.section-link:focus {
  outline: 1px solid currentColor;
  /* outline-offset: 2px; */
  text-decoration: none;
}
.adviсe {
  font-weight: normal;
}

.image-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.image {
  width: 100%;
  height: 100%;
}

.footer {
  display: grid;
  place-items: center;
  /* height: 668px;  */
}

.footer-title {
  font-family: var(--font-family-main);;
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--title-and-footer-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  margin-top: 286px;
  margin-bottom: 285px;
}